account/data/
account-v3/
cgi-bin/
error_log
.ftpquota
imagecache/
screenshots/
.smileys/
users/*
.wysiwygPro_preview*
~*
*~
*#
account/application/configs/config.php
incl/db.class.php
wdCalendar/php/dbconfig.php
